PORT=3000
JWT_SECRET=change_this_secret

# Local PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=nour
DB_NAME=stage4eme

# Production Render (remplace les DB_* ci-dessus)
DATABASE_URL=
CLOUDINARY_CLOUD_NAME=djyxy4nzh
CLOUDINARY_API_KEY=927219584541267
CLOUDINARY_API_SECRET=4cCE8J8p6riO40__ohEZ7JBu9jU
NODE_ENV=production

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=bousliminour70@gmail.com
SMTP_PASS=YOUR_APP_PASSWORD_HERE
EMAIL_FROM=bousliminour70@gmail.com

RESEND_API_KEY=re_EJw3Tehh_BGF4GtitYD4DvdnGuN8ja17J
EMAIL_FROM=onboarding@resend.dev